.featured_blog{
    color: black;
    object-fit: contain;
    height: 500px;
    margin: 10px 20px 30px 20px;
    /* margin-top:100px ; */
    border-radius: 25px;
    /* box-shadow: 13px 14px 15px red; */
}

.featured_blog_contents{
    margin-left: 30px;
    padding-top: 140px;
    height:190px;
}

.featured_blog_title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.featured_blog_description{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height:80px;  
}

.featured_blog_button{
    cursor:pointer;
    color: #fff;
    outline:none;
    border:none;
    font-weight:700;
    border-radius:0.2vw;
    padding-left:2rem;
    padding-right:2rem;
    margin-right:1rem;
    padding-top:0.5rem;
    background-color: rgba(51,51,51,0.5);
    padding-bottom: 0.5rem;
}

.featured_blog_button:hover{
    color: black;
    background-color: white;
    transition: all 0.2s;
}

.featured_blog_fadeBottom{
    height: 11rem;
    border-radius: 0px 0px 25px 25px;
    background-image: linear-gradient(180deg,
    transparent,
    rgba(37,37,37,0.61),
    #111
    );
}