.blog_card{
    height: 365px;
    width: 280px;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Lora', serif;
    cursor: pointer;
    border-radius: 5px;
    
}



.image_card{
    height: 248px;
    width: 280px;
    
}

.card_img{
    object-fit: cover;
    height: 248px;
    width: 280px;
    border-radius: 5px 5px 0px 0px;

}

.card_tag{
    position: relative;
    top: 30px;
    left: 10px;
    font-family: 'Lora', serif;
}

.card_data{
    margin-top:16px ;
    margin-left: 4px;
    font-family: 'Lora', serif;
}

#card_date{
    padding-left: 5px;
    font-size: 11px;
    font-family: 'Lora', serif;
    color: rgb(118, 117, 117);
}
#card_title
{
    padding-left: 5px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Lora', serif;
    margin: 10px 0px;
    margin-bottom: 5px;
}

.card_para{
    padding: 0px 5px;
    font-size: 12px;
    color: rgb(153, 153, 153);
    font-family: 'Lora', serif;
}